<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" style="padding-top: 2px; padding-bottom: 2px" routerLink="/home">
    <img src="assets/images/Logo.png" height="41" width="145" [title]="'Version ' + version" [alt]="version">
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="user" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/}">Overview</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/setup/setup-main">Setup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{helpLink}}" (click)="helpClick()" target="help" style="margin-left: 8px">Help</a>
      </li>
    </ul>


    <form class="form-inline my-2 my-lg-0">

      <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <span *ngIf="user" class="ml-sm-2 font-small" style="color: #eeeeee">
        <label>{{user.userDisplayName}}</label>
      </span>
    </form>
    <div *ngIf="user" class="navbar-nav">
      <a class="nav-link" routerLink="/" (click)="logout()">Logout</a>
    </div>
  </div>
</nav>
