<div class="card border-primary mx-3">
  <div class="card-header text-center">
    <h4 class="card-title">Home</h4>
    <p class="card-text">Click on one of the links below to select an operation.
    </p>
  </div>
  <div class="card-body text-center navbar-inverse">
    <div class="d-flex flex-row justify-content-center img-items">
      <div class="p-5">
        <a routerLink="/customers">
          <img src="assets/images/Overview.png">
          <div class="text-center text-light">Overview</div>
        </a>
      </div>
      <div class="p-5">
        <a routerLink="/">
          <img src="assets/images/Exports.png">
          <div class="text-center text-light">Reports</div>
        </a>
      </div>

      <div class="p-5">
        <a routerLink="/">
          <img src="assets/images/Setup.png">
          <div class="text-center text-light">Setup</div>
        </a>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-center img-items">
      <div class="p-5">
        <a routerLink="/">
          <img src="assets/images/Accounting.png">
          <div class="text-center text-light">Incentive</div>
        </a>
      </div>
      <div class="p-5">
        <a routerLink="/">
          <img src="assets/images/Calendar.png">
          <div class="text-center text-light">Download</div>
        </a>
      </div>
    </div>
  </div>
